---
layout: default
---

<article class="post">
  <header>
    <h2 class="category">{{ page.category }}</h2>
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date: "%d de %B de %Y" }}</span>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>

{% if site.related_posts.size >= 1 %}
<aside class="related">
  <h2 class="related-title">Meditações relacionadas</h2>
  <ol class="related-posts">
    {% for post in site.related_posts limit:4 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.category }}: {{ post.title }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
